
.ticket-counter {
  // background-color: red
  height: 200px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 10px;
  font-family: "Comfortaa", sans-serif;

  &__heading {
    font-size: 2rem;
  }

  &__counter {
    font-size: 2.5rem;
  }

  .ticket-amount {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2.5rem;
    user-select: none;
    
    &__decrease {
      cursor: pointer;
      color: rgb(80, 80, 80);
    }

    &__increase {
      cursor: pointer;
      color: rgb(80, 80, 80);
    }
  }
}