.employee {
  border: 2px solid white;
  width: 270px;
  height: 360px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  background-color: lightpink;

  &__data {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    
    &--name {
      font-weight: 700;
      font-size: 1.8rem;
      color: rgb(80, 80, 80);
    }

    &--role {
      margin-top: -10px;
      height: 112px;
      font-size: 1.1rem;
      color: white;
    }
  }
}