@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 255, 255);
  background-image: url("https://as2.ftcdn.net/v2/jpg/04/89/85/53/1000_F_489855359_1lDC9h0l0dzEEmarcMoCgV95CkpRIL1s.jpg");
}

.heading {
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 30px;
}

.tracker-container {
  border: 2px solid rgb(80, 80, 80);
  height: calc(100% - 40px);
  margin: 20px;
  background-color: white;
  
  &__heading {
  text-align: center;
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  padding: 30px;
  background-color: rgb(80, 80, 80);
  color: lightpink;
  }

  .tickets-container {
    background-color: rgba(255, 182, 193, 0.568);

    .employees-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  }
  
}